<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}{{ page }}{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-3"></div>
    <div class="column is-9">
        <h1 class="title">Dynamic Selectfield</h1>
        <h2 class="subtitle">Flask - wtforms and jquery...</h2>
        <section class="section">
            <form action="">
                {{ form.csrf_token }}
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        {{ form.car.label(class="label") }}
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    {{ form.car() }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        {{ form.model.label(class="label") }}
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    {{ form.model() }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        {{ form.version.label(class="label") }}
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    {{ form.version() }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        {{ form.customer.label(class="label") }}
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                {{ form.customer(class="input") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal"></div>
                <div class="field is-horizontal">
                    <div class="field-label">
                    <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary">
                                Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock %}

{% block end_script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/form_handle.js') }}"></script>
{% endblock %}