<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}{{ page }}{% endblock %}

{% block custom_static %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/datatables/media/css/jquery.dataTables.min.css') }}">
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-3">
        <section class="section">
            <aside class="menu">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                    <li><a href="#">Orders</a></li>
                </ul>
            </aside>
        </section>
    </div>
    <div class="column is-9">
        <section class="section">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Orders</a></li>
                </ul>
            </nav>

            <nav class="level">
                <!-- Left side -->
                <div class="level-left">
                    <div class="level-item">
                    </div>
                </div>
                <!-- Right side -->
                <div class="level-right">
                    <p class="level-item"><a href="{{ url_for('main.add_orders') }}" class="button is-success">Add Orders</a></p>
                </div>
            </nav>

            <table id="tbl-orders" class="display">
                <thead>
                    <tr>
                        <th>Car</th>
                        <th>Model</th>
                        <th>Version</th>
                        <th>Customer Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot></tfoot>
            </table>
        </section>
    </div>
</div>
{% endblock %}

{% block end_script %}
<script type="text/javascript" src="{{ url_for('static', filename='vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
<script>
    $(document).ready( function () {
        $('#tbl-orders').DataTable({
            "ajax": {
                url: $SCRIPT_ROOT + "/_populate_table",
                dataSrc: "data"
            },
            "columns": [
                {"data":"car"},
                {"data":"model"},
                {"data":"version"},
                {"data":"customer_name"},
                {
                    "data":"id",
                    "render": function (data, type, row, meta) {
                        data = '<a href="/edit_orders/'+ data +'/edit">Edit</a>';
                        return data;
                    }
                },
            ]
        });
    });
</script>
{% endblock %}